/* index.html style */


/* ---- reset ---- */

#particles-js canvas {
    display: block;
}


/* ---- particles.js container ---- */

#particles-js {
    position: fixed;
    z-index: -100;
    width: 100%;
    height: 100%;
    background-color: --dark-main;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.title-main {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 80px;
    padding-top: 10px;
    margin: auto;
    width: fit-content;
}

.title-secondary {
    margin: auto;
    width: fit-content;
    margin-top: 10px;
    font-size: large;
}

.page-content {
    color: white;
    margin-left: 6rem;
    padding: 10px;
}

.about-main {
    font-family: Roboto;
    margin: auto;
    width: fit-content;
    margin-top: 100px;
    font-size: 20px;
}

.about-secondary {
    margin: auto;
    width: fit-content;
    margin-top: 10px;
    font-size: 18px;
}

.navbar {
    color: white;
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: rgb(14, 14, 14);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.lipsum {
    color: black;
    visibility: hidden;
}